{% load static tailwind_tags %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% tailwind_css %}
    <title>{% block title %} My Website {% endblock %}</title>
    <link rel="stylesheet" href="{% static '../static/css/style1.css' %}">

    {% block head %}{% endblock head %}
  </head>
  <body class="">
    {% block nav %}
    <div class="w-full h-full">

    <nav class="md:flex border-b-2 border-b-yellow-600 ">

      <div class="flex">
        <img src="{% static '../static/logo AK.png' %}" alt="logo" class="md:size-16 rounded-3xl md:mt-4 md:m-4 md:mr-7  size-9">

      </div>
      <div class="p-2 w-full h-full ">

  
        
          <ul class="flex md:gap-6 justify-center">
            <li class="hover:bg-sky-300 p-2 rounded-md border-r-2 m-2 mr-2">
              <a href="#" class="text-nowrap">Home</a>
            </li>
            <li class="hover:bg-sky-300 p-2 rounded-md border-r-2 m-2 mr-2">
              <a href="#" class="text-nowrap">About Me</a>
            </li>
            <li class="hover:bg-sky-300 p-2 rounded-md border-r-2 m-2 mr-2">
              <a href="#" class="text-nowrap">Skill</a>
            </li>
            <li class="hover:bg-sky-300 p-2 rounded-md border-r-2 m-2 mr-2">
              <a href="#" class="text-nowrap">Contact</a>
            </li>
            <li class="hover:bg-sky-300 p-2 rounded-md border-r-2 m-2 mr-2">
              <a href="#" class="text-nowrap">Project</a>
            </li>
          </div>
              <div class="list-none p-4">
              <li>
                
                <button
                  type="submit"
                  class="bg-blue-500 hover:bg-blue-700 text-white font-bold  rounded  m-3  p-2  md:w-full md:h-full  "
                >
                  Hire me
                </button>

              </li>
              </div>
          </ul>
        </nav>
      </div>
    </div>
    

      {% endblock %}

      {% block contain %} 
      <main>
      </main>
      {% endblock %}

      {% block footer %} &copy; CopyRight 2024 {% endblock %}
    
  </body>
</html>
